# {{ ansible_managed }}

[Unit]
Description=Aegir Skynet
After=mysql.service
StartLimitIntervalSec=0

[Service]
ExecStart={{ aegir_skynet_service_command }}
User={{ aegir_user }}
Type=simple
Restart=always
RestartSec=1
Environment="HOME={{ aegir_root }}"
Environment="USER={{ aegir_user }}"
# TODO: Figure out how to properly write/append to dedicated log files.
#StandardOutput=file:/var/log/aegir-skynet.log
#StandardError=file:/var/log/aegir-skynet.err

[Install]
WantedBy=multi-user.target

