---
# {{ ansible_managed }}

core: 7.x
api: 2

projects:
  drupal:
    type: "core"
    version: "7.98"
  hostmaster:
    type: "profile"
    download:
      type: "git"
      url: {{ aegir_hostmaster_repo }}
      branch: {{ aegir_hostmaster_version }}
      working-copy: TRUE

  {% for module_name in (_default_aegir_contrib_modules + aegir_contrib_modules) %}
{{ module_name }}:
    version: {{ aegir_contrib_module_versions[module_name] | default('~') }}
  {% endfor %}

  {% for module_name,repo_url in (_default_aegir_custom_module_repos | combine(aegir_custom_module_repos)).items() %}
{{ module_name }}:
    download:
      type: "git"
      url: {{ repo_url }}
      branch: {{ (_default_aegir_custom_module_versions | combine(aegir_custom_module_versions))[module_name] }}
      working-copy: TRUE
  {% endfor %}

